@font-face {
    font-family: "valveoracle-medium";
    src: url("../fonts/valveoracle-medium.ttf") format("truetype");
}

body {
    font-family: valveoracle-medium;
    font-size: 30px;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}