{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'ranks/style.css' %}">
</head>
<body>
<main>
    <table>
        <tr>
            <th>Side</th>
            <th>Name</th>
            <th>Damage Chart</th>
            <th>Souls</th>
            <th>Damage</th>
        </tr>
        {% for player in match_details %}
        <tr>
            <td>{{ player.player_side }}</td>
            <td>{{ player.player_name }}</td>
            <td>
                <div style="background:#c9b287; height:16px; width:{{ player.player_chart }}%;"></div>
            </td>
            <td>{{ player.player_souls }}</td>
            <td>{{ player.player_damage }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
</body>
</html>